body {
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.menu {
    text-align: center;
}

.line1 {
    width: 75px;
    margin-top: -16px;
    margin-bottom: 30px;
    height: 3.7px;
    background-color: orange;
    border-radius: 2px;
    border: 0px orange solid;
}

.cakes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.first-cake {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 45%;
    margin-right: 10px;
}

.h4-p {
    margin-left: 12px;
    margin-bottom: 78px;

}

.h4-p-2 {
    margin-left: 12px;
    margin-bottom: 96px;

}



.second-cake {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 45%;
    margin-left: 10px;
}

.third-cake {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    width: 45%;
    margin-right: 10px;
}

.fourth-cake {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-top: 21px;
    margin-left: 10px;
}

.line {
    margin-top: -16px;
}

.justifyDescriptionTitle {
    text-align: justify;
}

h4 {
    letter-spacing: 2px;

}

span {
    float: right;
    color: orange;
}

.btn1 {
    border-radius: 6px;
    border: 1.5px orange solid;
    color: orange;
    background-color: white;
    margin-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 9px;
    padding-left: 9px;
}

.btn2 {
    border-radius: 6px;
    border: 1.5px orange solid;
    color: orange;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 11px;
    padding-left: 11px;
}

.btn3 {
    border-radius: 6px;
    border: 1.5px orange solid;
    color: orange;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
}

.btn4 {
    border-radius: 6px;
    border: 1.5px orange solid;
    color: orange;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
}

.btn5 {
    border-radius: 6px;
    border: 1.5px orange solid;
    color: orange;
    background-color: white;
    margin-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
}